@import "tailwindcss";

@theme {
  --color-primary: #60a5fa;
  --color-foreground: #ededed;
  --color-background: #0a1929;
}

body {
  scrollbar-gutter: stable;
}

html {
  scroll-padding-top: 7.5rem;
}

ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0;
  content: "•";
  color: theme("colors.primary");
}
